body { padding-top: 70px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

.table.table-posts {
    margin-bottom: 0;
}

.table.table-user > tbody > tr > td {
    vertical-align: middle;
}

.table.table-user > tbody > tr > td:first-child {
    width: 128px;
}

.table.table-user tr span:after {
    content: "|";
}

.table.table-user tr span:first-child:before,
.table.table-user tr span:last-child:after {
    content: "";
}

.table.table-popup > tbody > tr > td {
    border: 0;
    vertical-align: middle;
}

.table.table-popup > tbody > tr > td:first-child {
    width: 64px;
}

.table.table-posts > tbody > tr > td {
    vertical-align: middle;
}
