body { padding-top: 70px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

.table.table-posts {
    margin-bottom: 0;
}

.table.table-user > tbody > tr > td {
    vertical-align: middle;
}

.table.table-user > tbody > tr > td:first-child {
    width: 128px;
}

.table.table-posts > tbody > tr > td {
    vertical-align: middle;
}