{% extends "base.html" %}

{% block app_content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-user">
            <tr>
                <td>
                    <img src="{{ user.avatar(128) }}">
                </td>
                <td>
                    <h1>{{ _("User: %(username)s", username=user.username) }}</h1>
                    {% if user.about_me %}
                    <p>
                        {{ user.about_me }}
                    </p>
                    {% endif %}
                    {% if user.last_seen %}
                    <p>
                        {{ _("Last seen on: %(date)s", date=moment(user.last_seen).calendar()) }}
                    </p>
                    {% endif %}
                    <p>
                        {{ _("%(followers)d followers, %(followed)d following", followers=user.followers.count(), followed=user.followed.count()) }}
                    </p>
                    {% if user == current_user %}
                    <span>
                        <a href="{{ url_for('main.edit_profile') }}">{{ _("Edit profile") }}</a>
                    </span>
                        {% if not current_user.get_task_in_progress('export_posts') %}
                            <span>
                                <a href="{{ url_for('main.export_posts') }}">
                                    {{ _("Export posts") }}
                                </a>
                            </span>
                        {% endif %}
                    {% else %}
                        {% if not current_user.is_following(user) %}
                        <span>
                            <a href="{{ url_for('main.follow', username=user.username) }}">
                                {{ _("Follow this user") }}
                            </a>
                        </span>
                        {% else %}
                        <span>
                            <a href="{{ url_for('main.unfollow', username=user.username) }}">
                                {{ _("Unfollow this user") }}
                            </a>
                        </span>
                        {% endif %}
                        <span>
                            <a href="{{ url_for('main.send_message', recipient=user.username) }}">
                                {{ _("Send message") }}
                            </a>
                        </span>
                    {% endif %}
                </td>
            </tr>
        </table>
        {% for post in posts %}
            {% include 'main/_post.html' %}
        {% endfor %}
        {% include 'main/_nav.html' %}
    </div>
</div>
{% endblock %}