{% extends "bootstrap/base.html" %}

{% import "macros.html" as macros %}

{% block title %}
    {% if title %}{{ title }} - Microblog{% else %}{{ _("Welcome to Microblog") }}{% endif %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='site.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <script>
        function translate(e, sourceElem, destElem, sourceLang, destLang) {
            e.preventDefault();
            $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            var posting = $.post('/translate', {
                text: $(sourceElem).text(),
                source_lang: sourceLang,
                dest_lang: destLang
            }).done(function(response) {
                $(destElem).text(response['text']);
            }).fail(function() {
                $(destElem).text("{{ _('Error: could not contact server.') }}");
            });
        }
        function set_message_count(n) {
            $('#message_counter').text(n);
            $('#message_counter').css('visibility', n ? 'visible' : 'hidden');
        }
        function set_task_progress(task_id, progress) {
            $('#' + task_id + '-progress').text(progress)
        }
        $(function() {
            var timer = null;
            var xhr = null;
            $('.user_popup').hover(
                function(event) {
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax('/user/' + elem.first().text().trim() + '/popup').done(
                                function(data) {
                                    xhr = null;
                                    elem.popover({
                                        trigger: 'manual',
                                        html: true,
                                        animation: false,
                                        container: elem,
                                        content: data
                                    }).popover('show');
                                    flask_moment_render_all();
                                }
                        );
                    }, 1000);
                },
                function(event) {
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        elem.popover('destroy');
                    }
                }
            );
        });
        {% if current_user.is_authenticated %}
        $(function() {
            var since = 0;
            setInterval(function() {
                $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
                    function(n) {
                        for(var i=0; i < n.length; i++) {
                            switch(n[i].name) {
                                case 'unread_message_count':
                                    set_message_count(n[i].data);
                                    break;
                                case 'task_progress':
                                    set_task_progress(n[i].data.task_id, n[i].data.progress);
                                    break;
                            }
                            since = n[i].timestamp;
                        }
                    }
                );
            }, 5000);
        });
        {% endif %}
    </script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">
                    <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>&nbsp;Miniblog
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {{ macros.nav_link('main.index', _('Home')) }}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ _("Profile") }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        {% if current_user.is_anonymous %}
                            <li class="dropdown-header">{{ _("Select option") }}</li>
                            {{ macros.nav_link('auth.login', _('Login')) }}
                            {{ macros.nav_link('auth.register', _('Register')) }}
                        {% else %}
                            {% set msg_counter %}
                                {% set new_messages = current_user.new_messages() %}
                                <span id="message_counter" class="badge"
                                    style="visibility: {{ 'visible' if new_messages else 'hidden' }};">
                                    {{ new_messages }}
                                </span>
                            {% endset %}
                            {{ macros.nav_link('main.messages', _('Messages'), misc=msg_counter) }}
                            {{ macros.nav_link('main.explore', _('Explore')) }}
                            {{ macros.nav_link('main.user', _('Profile'), username=current_user.username) }}
                            <li role="separator" class="divider"></li>
                            {{ macros.nav_link('auth.logout', _('Logout')) }}
                        {% endif %}
                        </ul>
                    </li>
                </ul>
                {% if g.search_form %}
                <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.search') }}">
                    <div class="form-group">
                        {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock navbar %}

{% block content %}
    <div class="container">
        {% if current_user.is_authenticated %}
        {% with tasks = current_user.get_tasks_in_progress() %}
        {% if tasks %}
            {% for task in tasks %}
            <div class="alert alert-success" role="alert">
                {{ task.description }}
                <span id="{{ task.id }}-progress">{{ task.get_progress() }}%</span>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% endif %}
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                {% if category == 'message' %}
                    <div class="alert alert-info" role="alert">
                {% else %}
                    <div class="alert alert-{{ category }}" role="alert">
                {% endif %}
                    {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            {% block app_content %}{% endblock %}
        </div>
    </div>
{% endblock content %}
