{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block app_content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Hello, {{ current_user.username }}!</h1>
        {% if form %}
        <form action="" method="post" class="form" role="form">
            {{ form.hidden_tag() }}
            {{ macros.render_field(form.post, required=True) }}
            <p>{{ form.submit(class="btn btn-primary") }}</p>
        </form>
        {% endif %}
        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}
        {% include '_nav.html' %}
    </div>
</div>
{% endblock %}
