{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block content %}
<h1>Register</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {{ macros.with_errors(form.username) }}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=64) }}<br>
        {{ macros.with_errors(form.email) }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=64) }}<br>
        {{ macros.with_errors(form.password) }}
    </p>
    <p>
        {{ form.password2.label }}<br>
        {{ form.password2(size=64) }}<br>
        {{ macros.with_errors(form.password2) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}